    padding: 10px 60px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 20px 0 20px 0;
    text-align: center;
    background: radial-gradient(ellipse at center,hsla(200,50%,0%,1) 0,hsla(200,100%,70%,.5) 150%);
    box-shadow: 0 0 6px hsla(200,100%,80%,1);
    text-shadow: 0 0 7px hsl(0deg 100% 50%);
    color: hsl(0deg 100% 50%);
    font-family: Play,Verdana;
    border: 0;
